@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
        
    @custom-variant dark (&:where(.dark, .dark *));
     --color-primary: #2563eb;
    --color-danger: #dc2626;
    --color-create: #22c55e;
    --color-warning: #eab308;
    --color-secondary: #64748b;
    --color-bg: #f8fafc;
    --color-surface: #ffffff;
    --color-border: #e2e8f0;
    --color-border-dark: #cbd5e1;
    --color-text: #1e293b;
    --color-text-muted: #64748b;
    --color-text-light: #94a3b8;
    --color-label: #475569;
    --color-shadow: rgba(0, 0, 0, 0.05);
    --color-shadow-hover: rgba(0, 0, 0, 0.1);
}

